include _parts/base

- page.title = "Test title Test title Test title Test title"
- page.styles = [rootDir + "css/sample"]
- page.requirejs = "js/sample"

+template()
  h2= rootDir
  h1 Jade - node template engine
  #container.col
    if youAreUsingJade
      p You are amazzing
    else
      p Get on it!
    p.test.
      Jade is a &amp;terse and simple templating language with a

      strong focus on performance foo
      and powerful features.
